.movieRow {
  padding: 0 20px;
  color: #fff;
}

.movieRow__imageContainer {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.movieRow__imageContainer::-webkit-scrollbar {
  display: none;
}

.movieRow__image {
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  transition: transform 400ms;
  margin-right: 10px;
}

.movieRow__image:hover {
  transform: scale(1.08);
}

.movieRow_image__large {
  max-height: 250px;
}
.movieRow_image__large:hover {
  transform: scale(1.09);
}
